.container
  .text-center
    %h1 Principales variables económicas
  .row.g-3
    - if @economic_variables.present?
      - @economic_variables.each do |variable|
        .col
          .card{style: 'width: 18rem;'}
            .card-body
              %h5.card-title= "Cotización del #{variable.name.downcase}"
              %h6.bold= number_to_currency(variable.current_cotization, unit: 'ARS', separator: ',', delimiter: '.')
              %p.bold.mb-0 Última actualización:
              %p.small.mt-0= "#{l(variable.last_cotization_date, format: :short)}"
              %h6.card-subtitle.my-2.text-body-secondary= "¿Qué es el #{variable.name.downcase}?"
              %p.card-text= variable.description
              = link_to 'Fuente', variable.font_link, class: 'card-link', target: '_blank'
